go 1.20

use (
	./01hello
	./02variables
	./03userinput
	./04conversion
	./05mytime
	./06pointers
	./07array
	./08slices
	./09Maps
	./10structs
	./11ifelse
	./12switchcase
	./13loops
	./14functions
	./15methods
	./16defer
	./17files
	./18webrequests
	./19urls
	./20webreqverb
	./21bitmorejson
	./22mymodules
	./23buildapi
	./24mongoapi
	./25goroutines
	./27channels
)
